@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Satisfy&display=swap");
.title {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  border: 2px solid blue;
  margin-top: 15rem;
}
.title2 {
  font-family: "Amatic SC", cursive;
  font-size: 1.7rem;
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  width: 150px;

  /* border: 2px solid orange; */
  margin: 0 auto 15px auto;
  padding: 0;
  color: white;
}

.items {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 0.8rem;
  color: white;
}

.background {
  background-image: url("../lib/Images/2\ .jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: contain;
  min-height: 100vh;
  position: relative;
  /* border: 2px solid yellow; */
}

.button {
  position: absolute;
  width: 5rem !important;
  right: 34.3%;
  cursor: pointer !important;
}

.detailsBody {
  /* border: 2px solid green; */
  background-color: black;
}

.menu2 {
  /* border: 2px solid red; */
  padding-top: 8rem;
}
